@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'black';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(13% 0.028 261.692);
	--color-base-200: oklch(20% 0.042 265.755);
	--color-base-300: oklch(70% 0.022 261.325);
	--color-base-content: oklch(98% 0.002 247.839);
	--color-primary: oklch(68% 0.169 237.323);
	--color-primary-content: oklch(0% 0 0);
	--color-secondary: oklch(76% 0.188 70.08);
	--color-secondary-content: oklch(0% 0 0);
	--color-accent: oklch(58% 0.233 277.117);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(55% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(54% 0.245 262.881);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(0% 0 0);
	--color-warning: oklch(90% 0.182 98.111);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 2rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 4px;
	--depth: 0;
	--noise: 0;
}
/* Some browsers dont automatically do this. */
abbr {
	text-decoration: underline dotted;
	font-style: italic;
}

@theme {
	--font-info-panels: 'IBMPlexSans', sans-serif;
	--font-helvetica_like: 'Helvetica';
}
* {
	font-family: "Helvetica", system-ui;
}
@font-face {
	src: url("/fonts/Helvetica.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-family: "Helvetica";
}
@font-face {
	src: url("/fonts/Helvetica-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-family: "Helvetica";
}
@font-face {
	src: url("/fonts/Helvetica-Oblique.woff2") format("woff2");
	font-weight: normal;
	font-style: oblique;
	font-family: "Helvetica";
}
@font-face {
	src: url("/fonts/Helvetica-BoldOblique.woff2") format("woff2");
	font-weight: bold;
	font-style: oblique;
	font-family: "Helvetica";
}
@font-face {
	src: url("/fonts/IBMPlexSansJP-Medium.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-family: "IBMPlexSans";
}